* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "klick-regular";
  src: url("/fonts/klick-regular.woff2") format("woff2");
}
@font-face {
  font-family: "klick-blurred";
  src: url("/fonts/klick-blurred.woff2") format("woff2");
}

:root{
    --font-klick-regular: klick-regular; 
    --font-klick-blurred: klick-blurred;

    --white: rgb(255, 255, 255);
    --black: rgb(0,0,0);
}

body{
    background: url("../assets/bg.avif") no-repeat center center;
    font-family: var(--font-klick-regular);
    color: rgb(0, 0, 0);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.font-blurred{
    font-family: var(--font-klick-blurred);
}

@media only screen and (max-width: 700px) {
  /*Mobile width respo code*/
  body{
    background: url("../assets/bg_mob.avif") no-repeat center center;
    background-size: cover;
  }
}

@media (max-width: 1000px) and (min-width: 701px) {
  /*Tab respo code*/
  body{
    background: url("../assets/bg_tab.avif") no-repeat center center;
    background-size: cover;
  }
}