---
import '../styles/button.css';
const { label, iconSrc = "", class: className = "" } = Astro.props;
---

<div>
  <button class={`button ${className}`}>
    {label}
    {iconSrc && <img src={iconSrc} alt="icon" style="width: 20px; height: 20px;" />}
  </button>
</div>
