---

import Button from "./Button.astro"
---

<div style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
">
    <img style="
        margin-left: 10px;
    " src="/bunkr.svg" alt="Bunkr logo">
    <Button label="Star on GitHub â­" />
</div>
