---
import Button from "./Button.astro";
---

<div>
  <div style="display: flex; justify-content: center; align-items: center; padding-top:25%">
    <div style="">
        <div style="
            color: white;
            font-size: 84px;
            text-align: center;
            margin-bottom: 10px;
        ">
          The smart way to not show up.
        </div>
        <div style="
            color: white;
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
        ">
          We crunch the numbers so you can ditch the class—not the semester.
        </div>
      </div>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <Button label="Download App" iconSrc="/download.svg"/>
    <Button
      style="background-color:rgba(0, 0, 0, 0.6); color: white; background-blend-mode: color-burn;"
      label="Learn More"
    />
  </div>
</div>
<!-- padding-top: 25%; -->
