---
import Button from "./Button.astro";
import "../styles/button.css" ;
import "../styles/typo.css" ;
import "../styles/header.css" ;
---

<div  class="container" style="height:130vh ; display:flex ; justify-content: center; align-items:  center;">
  <div class="one">
    <div class="two">
        <div class="three">
          The smart way to not show up.
        </div>
        <div class="mobile-text">
          The Smart<br />
          way to<br />
          not show up.
        </div>
        <div class="tab-text">
          The Smart way to not<br />
          show up.
        </div>
        <div class="four">
          We crunch the numbers so you can ditch the class—not the semester.
        </div>
        <div class="mob-text2">
          We crunch the numbers so you can ditch the<br />
          class—not the semester.
        </div>
        <div class="tab-text2">
          We crunch the numbers so you can ditch the class—not the <br />
          semester.
        </div>
      </div>
  </div>
  <div class="five">
    <Button label="Download Apk" iconSrc="/download.svg"/>
    <Button class="six" label="Learn More"/>
  </div>
</div>
